name: "Build daemon"

on: [push]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: mynaconnect-daemon
            asset_name: mynaconnect-daemon-linux-x86_64
          - os: windows-latest
            artifact_name: mynaconnect-daemon.exe
            asset_name: mynaconnect-daemon-windows-x86_64
          - os: macos-latest
            artifact_name: mynaconnect-daemon
            asset_name: mynaconnect-daemon-macos-x86_64
    name: Build daemon for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build
        run: cargo build --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.asset_name }}
          path: target/release/${{ matrix.artifact_name }}
